@font-face {
    font-family: 'CalibriBold';
    src: url('3491087450.eot');
    src: url('3491087450.eot') format('embedded-opentype'),
         url('3491087450.woff') format('woff'),
         url('3491087450.ttf') format('truetype'),
         url('3491087450.svg#CalibriBold') format('svg');
}
